
.circle {
    margin-top: 10%;
    background-color: rgb(63, 81, 181) !important;
    margin-left: 30%;
    height: 7em !important;
    width: 7em !important;
}

.h3-profile {
    margin-bottom: 8% !important;
    text-align: center;
    color: rgb(63, 81, 181) !important;
    font-family: 'Pacifico', cursive !important;
    font-size: x-large !important;
}

.follow-btn {

    background-color: rgb(63, 81, 181) !important;

}

.headings {
    color: rgb(63, 81, 181) !important;
    /*font-family: 'Pacifico', cursive !important;*/
}
