/*
.search-field{
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 10%;
    width: 90%;
}

#search-button{
    position : relative;
    left: 22px;
    top: 22px;
}
*/

.backdropHome{
    height: 100%;
    background: url("http://localhost:3000/images/background.jpg") no-repeat;
    background-size: 100% 100%;
    background-blend-mode: luminosity;

}
