#background_pic {
    height: 120%;
    background: url("https://lit-earth-30010.herokuapp.com/images/beer.jpg") no-repeat;
    background-size: 70em;
}

#login-form{
    margin-top: 20%;
    margin-right: 50px;
    text-align: center;
}

.input-field{
    size: 40px;
}

.heading{
    color: rgb(63, 81, 181) !important;;
    font-family: 'Pacifico', cursive !important;
    font-size: x-large !important;;
}